################################################################################
#  .gitignore
################################################################################

*.user
.vs
obj
bin
/packages
/publish
/src/Client/packages
/src/Server/packages
