<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Afx.Data" version="6.2.10" targetFramework="net452" />
  <package id="Afx.Data.Entity" version="6.2.10" targetFramework="net452" />
  <package id="Afx.Data.Extensions" version="6.2.10" targetFramework="net452" />
  <package id="Afx.Data.MSSQLServer.Entity" version="6.2.10" targetFramework="net452" />
  <package id="Afx.Data.MySql.Entity" version="6.2.10" targetFramework="net452" />
  <package id="Afx.Data.Oracle.Entity" version="6.2.10" targetFramework="net452" />
  <package id="Afx.Data.SQLite.Entity" version="6.2.10" targetFramework="net452" />
  <package id="EntityFramework" version="6.2.0" targetFramework="net452" />
  <package id="Google.Protobuf" version="3.5.1" targetFramework="net452" />
  <package id="MySql.Data" version="6.10.7" targetFramework="net452" />
  <package id="MySql.Data.Entity" version="6.10.7" targetFramework="net452" />
  <package id="Oracle.ManagedDataAccess" version="12.2.1100" targetFramework="net452" />
  <package id="Oracle.ManagedDataAccess.EntityFramework" version="12.2.1100" targetFramework="net452" />
  <package id="System.Data.SQLite.Core" version="1.0.108.0" targetFramework="net452" />
  <package id="System.Data.SQLite.EF6" version="1.0.108.0" targetFramework="net452" />
</packages>