<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Afx.Base" version="6.2.11" targetFramework="net452" />
  <package id="Afx.Cache" version="6.2.11" targetFramework="net452" />
  <package id="Afx.Data" version="6.2.11" targetFramework="net452" />
  <package id="Afx.Data.Entity" version="6.2.11" targetFramework="net452" />
  <package id="Afx.Data.Extensions" version="6.2.11" targetFramework="net452" />
  <package id="Afx.Data.MSSQLServer.Entity" version="6.2.11" targetFramework="net452" />
  <package id="Afx.Data.MySql.Entity" version="6.2.11" targetFramework="net452" />
  <package id="Afx.Data.Oracle.Entity" version="6.2.11" targetFramework="net452" />
  <package id="Afx.Data.SQLite.Entity" version="6.2.11" targetFramework="net452" />
  <package id="Afx.Sockets" version="6.2.11" targetFramework="net452" />
  <package id="Afx.Tcp.Host" version="6.2.11" targetFramework="net452" />
  <package id="Afx.Tcp.Protocols" version="6.2.11" targetFramework="net452" />
  <package id="EntityFramework" version="6.2.0" targetFramework="net452" />
  <package id="Google.Protobuf" version="3.6.0" targetFramework="net452" />
  <package id="log4net" version="2.0.8" targetFramework="net452" />
  <package id="MySql.Data" version="6.10.7" targetFramework="net452" />
  <package id="MySql.Data.Entity" version="6.10.7" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="net452" />
  <package id="Oracle.ManagedDataAccess" version="12.2.1100" targetFramework="net452" />
  <package id="Oracle.ManagedDataAccess.EntityFramework" version="12.2.1100" targetFramework="net452" />
  <package id="protobuf-net" version="2.3.13" targetFramework="net452" />
  <package id="StackExchange.Redis" version="1.2.6" targetFramework="net452" />
  <package id="System.Data.SQLite.Core" version="1.0.108.0" targetFramework="net452" />
  <package id="System.Data.SQLite.EF6" version="1.0.108.0" targetFramework="net452" />
</packages>